/*--------------------------------------------------------------
1.0 - BASE SITE STYLES
--------------------------------------------------------------*/
*,*:after,*:before {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }
  
  .cf:before,
  .cf:after {
      content:"";
      display:table;
  }
  .cf:after {
      clear:both;
  }
  
  body {
    background: #fff;
    color: #000;
    font:12px/18px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  }
  a,a:visited {
    color:#000
  }
  
  /*--------------------------------------------------------------
  2.0 - SEARCH FORM
  --------------------------------------------------------------*/
  .search-content{
    text-align: center;
    width: 600px;
    margin: 300 auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
  
  .search_bar{
    width: 100%;
  }
  .search_type {
    text-align: left;
  }

 /*--------------------------------------------------------------
  2.0 - SEARCH LIST
  --------------------------------------------------------------*/

    .search-list {
        width: 750px;
        margin: 120px auto;
        margin-top: 0;
        padding: 0px;

    }

    .custom-counter {
        padding: 0;
        width: 560px;
        list-style-type: none;
        margin: auto;
    }
      

    .bottom-contant {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30;
      width: 70%;
      align-content: center;
      text-align: center;
    }
      
      